$text: #484848;
$text-light: #AAA;
$inactive: #DDD;
$highlight: #E24B74;

$z_depth_0: 0rem 0rem 0rem #FFF;
$z_depth_1: rgba(0, 0, 0, 0.117647) 0rem 1rem 6rem, rgba(0, 0, 0, 0.117647) 0rem 1rem 4rem;
$z_depth_2: rgba(0, 0, 0, 0.156863) 0rem 3rem 10rem, rgba(0, 0, 0, 0.227451) 0rem 3rem 10rem;
$z_depth_3: rgba(0, 0, 0, 0.188235) 0rem 10rem 30rem, rgba(0, 0, 0, 0.227451) 0rem 6rem 10rem;
$z_depth_4: rgba(0, 0, 0, 0.247059) 0rem 14rem 45rem, rgba(0, 0, 0, 0.219608) 0rem 10rem 18rem;
$z_depth_5: rgba(0, 0, 0, 0.298039) 0rem 19rem 60rem, rgba(0, 0, 0, 0.219608) 0rem 15rem 20rem;

$fade_depth_0: 0rem 0rem 0rem #FFF;
$fade_depth_1: rgba(255, 255, 255, 1) 0rem 1rem 6rem, rgba(255, 255, 255, 1) 0rem 1rem 4rem;
$fade_depth_2: rgba(255, 255, 255, 1) 0rem 3rem 10rem, rgba(255, 255, 255, 1) 0rem 3rem 10rem;
$fade_depth_3: rgba(255, 255, 255, 1) 0rem 10rem 30rem, rgba(255, 255, 255, 1) 0rem 6rem 10rem;
$fade_depth_4: rgba(255, 255, 255, 1) 0rem 14rem 45rem, rgba(255, 255, 255, 1) 0rem 10rem 18rem;
$fade_depth_5: rgba(255, 255, 255, 1) 0rem 19rem 60rem, rgba(255, 255, 255, 1) 0rem 15rem 20rem;
